ol {
  list-style-position: inside;
}

figure.figure-left {
  float: left;
  margin: 10px 10px 10px 0px;
}

figure.figure-right {
  float: right;
  margin: 10px 0px 10px 10px;
}

figure {
  /*  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;*/
  text-indent: 0;
  border: thin silver solid;
  padding: 10px;
  /*
  margin: 0.5em;
  padding: 0.5em;*/
}

blockquote {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  padding: 10px 10px 10px 10px;
}

main {
  border: 1px;
  margin: 0px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  float: left;
  width: 74.5%;
  height: 100%;
}

article {
  border: 1px;
  margin: 0px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  font-family: "Georgia", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0em 2em 0em 2em;
  color: #555;
}

aside {
  float: right;
  width: 25%;
  height: 100%;
}

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.gallery-column {
  float: left;
  width: 17.6%;
  padding: 10px;
  height: 145px;
}

.gallery-column img {
  opacity: 0.8;
  cursor: pointer;
  width: 100%;
}

.gallery-column img:hover {
  opacity: 1;
}

.gallery-row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-content {
  position: relative;
  display: none;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}