body {
  margin: 0 auto;
  font-family: 'Helvetica Neue';
  font-size: 13px;
}

#page {
  overflow: hidden;
}

header {
  background-color: #FCFCFC;
  width: 100%;
}

#header-area {
  padding: 0px 35px;
}

#header-group {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#social-media-group {
  box-sizing: border-box;
  padding-top: 43.75px;
  padding-bottom: 43.75px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-title {
  color: #1d67b1;
  font-weight: 700;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.social-media-icon {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 4px;
  position: relative;
  border-radius: 3px;
  display: block;
}

.social-media-icon-facebook {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #597ac7), color-stop(1, #6483cb));
  border: 1px solid #466bc1;
}

.social-media-icon-twitter {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5bbcec), color-stop(1, #69c2ee));
  border: 1px solid #44b3e9;
}

.social-media-icon-linkedin {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0070b4), color-stop(1, #007ac3));
  border: 1px solid #00609b;
}

.social-media-icon-youtube {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff3635), color-stop(1, #ff4544));
  border: 1px solid #ff1d1b;
}

.social-media-icon-github {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #3b3b3b));
  border: 1px solid #262626;
}

.fa-facebook-f {
  width: 1em;
  height: 1em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.5em;
  font-size: 18px;
}

.fa-twitter {
  width: 1em;
  height: 1em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.5em;
  font-size: 18px;
}

.fa-linkedin {
  width: 1em;
  height: 1em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.5em;
  font-size: 18px;
}

.fa-youtube {
  width: 1em;
  height: 1em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.5em;
  font-size: 18px;
}

.fa-github {
  width: 1em;
  height: 1em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.5em;
  font-size: 18px;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#navigation {
  background-color: #1D67B2;
}

nav {
  /*background-color: #1D67B2;*/
  padding: 5px 5px 5px 5px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  min-height: 40px;
}

nav ul {
  margin: 0px 0px 0px 0px;
  position: relative;
}

nav ul li {
  padding: 0px 0px 0px 0px;
  padding: 11px 35px;
  display: inline-block;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 700;
}

/* ################################################################################ # Footer ################################################################################ */
footer {
  background-color: #1d67b2;
  padding: 30px 30px 30px 30px;
  text-align: left;
}

#site-info {
  color: #f2f2f2;
  margin: 25px 0px 0px 0px;
  text-align: center;
}