/*
    © 2025 Salvatore D'Angelo
    This project is distributed under the MIT license.
    See https://opensource.org/licenses/MIT for details.
*/

/* ################################################################################# Main ################################################################################ */

#page-main {
  background: #fcfcfc;
  padding: 35px;
}

#page-container {
  padding: 10px;
  /* Set maximum container width to 1080px */
  max-width: 1080px;
  /* Set left margin to auto to centre the container */
  margin-left: auto;
  /* Set right margin to auto to centre the container */
  margin-right: auto;
}

/* Stili per i titoli (h1 a h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
  /* Imposta il colore del testo dei titoli */
  text-align: left;
  /* Allinea il testo a sinistra */
}

/* Dimensioni specifiche per ciascun livello di titolo */
h1 {
  font-size: 28px;
  /* Imposta la dimensione del font per h1 */
}

h2 {
  font-size: 24px;
  /* Imposta la dimensione del font per h2 */
}

h3 {
  font-size: 20px;
  /* Imposta la dimensione del font per h3 */
}

h4 {
  font-size: 18px;
  /* Imposta la dimensione del font per h4 */
}

h5 {
  font-size: 16px;
  /* Imposta la dimensione del font per h5 */
}

h6 {
  font-size: 14px;
  /* Imposta la dimensione del font per h6 */
}

/* Impostazioni per i paragrafi */
p {
  text-align: justify;
  /* Giustifica il testo all'interno del paragrafo */
}

/* Stili per le liste ordinate */
ol {
  list-style-position: inside;
  /* Posiziona i numeri all'interno della lista (all'interno dei margini) */
}

/* Left-aligned images */
img.img-left {
  padding: 10px 10px 10px 0px;
  /* Add padding around the image */
  float: left;
  /* Float the image to the left */
}

/* Immagini a destra */
img.img-right {
  padding: 10px 0px 10px 10px;
  /* Add padding around the image */
  float: right;
  /* Float the image to the right */
}

/* Block quotes (blockquote) */
blockquote {
  background: #f5f7f9;
  /* Set a light grey background for the quote */
  border-bottom: 1px solid #d8dee9;
  /* Add a bottom separator line to the quote */
  padding: 10px 10px 10px 10px;
  /* Add padding on all sides */
}
