#page-container { 
  max-width: 1080px; 
  margin-left: auto; 
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #3b3b3b;
  text-align: left;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  text-align: justify;
}

ol {
  list-style-position: inside;
}

img.img-left {
  padding: 10px 10px 10px 0px; 
  float:left;
}

img.img-right {
  padding: 10px 0px 10px 10px; 
  float:right;
}

blockquote {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  padding: 10px 10px 10px 10px;
}