/*
    © 2025 Salvatore D'Angelo
    This project is distributed under the MIT license.
    See https://opensource.org/licenses/MIT for details.
*/

/* ################################################################################# Main ################################################################################ */

#page-main {
  background: #fcfcfc;
  padding: 35px;
}

#page-container {
  padding: 10px;
  /* Set maximum container width to 1080px */
  max-width: 1080px;
  /* Set left margin to auto to centre the container */
  margin-left: auto;
  /* Set right margin to auto to centre the container */
  margin-right: auto;
  overflow: hidden;
  /* Force the container to expand around floated elements (images) inside it. */
}

p {
  color: #666666;
  text-align: justify;
}

p a {
  color: #1D67B2;
}

ol {
  list-style-position: inside;
}

/* Left-aligned images */
img.img-left {
  padding: 10px 10px 10px 10px;
}

img.img-right {
  padding: 10px 10px 10px 10px;
}

/* For Laptop and small-size screens, Tablets or iPad, Desktop */
@media screen and (min-width: 480px) {
  img.img-left {
    padding: 10px 10px 10px 0px;
    /* Add padding around the image */
    float: left;
    /* Float the image to the left */
  }

  img.img-right {
    padding: 10px 0px 10px 10px;
    /* Add padding around the image */
    float: right;
    /* Float the image to the right */
  }
}

/* Block quotes (blockquote) */
blockquote {
  background: #f5f7f9;
  /* Set a light grey background for the quote */
  border-bottom: 1px solid #d8dee9;
  /* Add a bottom separator line to the quote */
  padding: 10px 10px 10px 10px;
  /* Add padding on all sides */
}

figure {
  margin: 0px;
}

figure figcaption a {
  color: #1D67B2;
}