/*
    © 2025 Salvatore D'Angelo
    This project is distributed under the MIT license.
    See https://opensource.org/licenses/MIT for details.
*/

/*
 * ################################################################################
 * # Global definitions
 * ################################################################################
*/
/* General settings for the page body */
body {
  margin: 0 auto;
  /* Centre content horizontally */
  font-family: 'Helvetica Neue';
  /* Set the page font */
  font-size: 13px;
  /* Set the base font size */
}

/* General settings for the page */
#page {
  overflow: hidden;
  /* Nasconde qualsiasi contenuto che eccede i confini del contenitore */
  border: 1px;
  /* Definisce uno spessore di bordo di 1px */
  border-style: solid;
  /* Imposta il bordo come solido */
  border-color: black;
  /* Imposta il colore del bordo a nero */
}

/*
 * ################################################################################
 * # Header definitions
 * ################################################################################
 */
/* Styles for the header */
header {
  background-color: #FCFCFC;
  /* Set the header background to a light grey */
  width: 100%;
  /* Imposta la larghezza dell'intestazione al 100% della larghezza disponibile */
  border: 1px;
  /* Definisce uno spessore di bordo di 1px */
  border-style: solid;
  /* Imposta il bordo come solido */
  border-color: black;
  /* Imposta il colore del bordo a nero */
}

#header-group {
  padding: 0px 35px;
  /* Padding di 35px sopra e sotto */
  max-width: 1080px;
  /* Set maximum width of 1080px for the header container */
  margin-left: auto;
  /* Centre the header container horizontally */
  margin-right: auto;
  /* Centre the header container horizontally */
  display: flex;
  /* Utilizza Flexbox per organizzare gli elementi all'interno del contenitore */
  flex-direction: row;
  /* Imposta l'orientamento orizzontale per gli elementi all'interno */
  justify-content: space-between;
  /* Distribute space evenly between container elements */
}

/*
 * Logo area
 */
/* Styles for the logo */
#logo {
  display: flex;
  /* Imposta Flexbox per il logo */
  flex-direction: row;
  /* Organizza gli elementi del logo orizzontalmente */
  justify-content: center;
  /* Centra il logo orizzontalmente */
}

/*
 * Social Button area
 */
/* Styles for the social media group */
#social-media-group {
  box-sizing: border-box;
  /* Ensure padding does not increase the total container width */
  padding-top: 43.75px;
  /* Aggiunge 43.75px di padding alla parte superiore */
  padding-bottom: 43.75px;
  /* Aggiunge 43.75px di padding alla parte inferiore */
  display: flex;
  /* Utilizza Flexbox per il contenitore dei social media */
  flex-direction: column;
  /* Organizza i social media in verticale */
  justify-content: left;
  /* Allinea gli elementi del gruppo social media a sinistra */
}

/* Styles for the social media icons */
.social-media-icons {
  display: flex;
  /* Utilizza Flexbox per allineare le icone dei social media */
  flex-direction: row;
  /* Allinea le icone in orizzontale */
  justify-content: center;
  /* Centra le icone orizzontalmente */
}

/* Styles for the social media section title */
.social-media-title {
  color: #1d67b1;
  /* Imposta il colore del titolo dei social media */
  font-weight: 700;
  /* Set font weight to bold */
  margin-bottom: 5px;
  /* Add 5px space below the title */
  display: flex;
  /* Utilizza Flexbox per il titolo */
  flex-direction: row;
  /* Organizza il titolo orizzontalmente */
  justify-content: left;
  /* Allinea il titolo a sinistra */
}

/* Stile per le icone del gruppo social media */
.social-media-icon {
  width: 36px;
  /* Set the icon width */
  height: 36px;
  /* Imposta l'altezza dell'icona */
  float: left;
  /* Permette di allineare l'icona a sinistra */
  margin-right: 4px;
  /* Add 4px space to the right of the icon */
  position: relative;
  /* Permette di posizionare l'icona rispetto al suo contenitore */
  border-radius: 3px;
  /* Arrotonda gli angoli dell'icona */
  display: block;
  /* Set the icon as a block element */
}

/* Styles for the Facebook icon */
.social-media-icon-facebook {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #597ac7), color-stop(1, #6483cb));
  /* Colour gradient for the Facebook icon */
  border: 1px solid #466bc1;
  /* Set the Facebook icon border */
}

/* Styles for the Twitter icon */
.social-media-icon-twitter {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5bbcec), color-stop(1, #69c2ee));
  /* Colour gradient for the Twitter icon */
  border: 1px solid #44b3e9;
  /* Set the Twitter icon border */
}

/* Styles for the LinkedIn icon */
.social-media-icon-linkedin {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0070b4), color-stop(1, #007ac3));
  /* Colour gradient for the LinkedIn icon */
  border: 1px solid #00609b;
  /* Set the LinkedIn icon border */
}

/* Styles for the YouTube icon */
.social-media-icon-youtube {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff3635), color-stop(1, #ff4544));
  /* Colour gradient for the YouTube icon */
  border: 1px solid #ff1d1b;
  /* Set the YouTube icon border */
}

/* Styles for the GitHub icon */
.social-media-icon-github {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #3b3b3b));
  /* Colour gradient for the GitHub icon */
  border: 1px solid #262626;
  /* Set the GitHub icon border */
}

.fa-facebook-f {
  width: 1em;
  height: 1em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.5em;
  font-size: 18px;
}

.fa-twitter {
  width: 1em;
  height: 1em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.5em;
  font-size: 18px;
}

.fa-linkedin {
  width: 1em;
  height: 1em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.5em;
  font-size: 18px;
}

.fa-youtube {
  width: 1em;
  height: 1em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.5em;
  font-size: 18px;
}

.fa-github {
  width: 1em;
  /* Set the Font Awesome icon width */
  height: 1em;
  /* Imposta l'altezza dell'icona di font-awesome */
  text-align: center;
  /* Centre the text */
  display: block;
  /* Set the icon as a block element */
  position: absolute;
  /* Posiziona l'icona in modo assoluto all'interno del contenitore */
  line-height: 1em;
  /* Allinea verticalmente l'icona */
  color: #fff;
  /* Imposta il colore dell'icona a bianco */
  top: 50%;
  /* Posiziona l'icona al centro verticalmente */
  left: 50%;
  /* Posiziona l'icona al centro orizzontalmente */
  margin-top: -0.45em;
  /* Sposta l'icona verso l'alto */
  margin-left: -0.5em;
  /* Sposta l'icona verso sinistra */
  font-size: 18px;
  /* Set the icon font size */
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  /* Imposta la font per le icone di FontAwesome */
  text-rendering: auto;
  /* Optimise text rendering */
  -webkit-font-smoothing: antialiased;
  /* Abilita il font-smoothing su Webkit */
}

/* Stile per il contenuto principale (main) */
main {
  max-width: 1080px;
  /* Limita la larghezza massima del contenuto a 1080px */
  margin-left: auto;
  /* Centra il contenuto orizzontalmente impostando i margini laterali automaticamente */
  margin-right: auto;
  /* Centra il contenuto orizzontalmente impostando i margini laterali automaticamente */
}

/* Stili per i titoli (h1 a h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
  /* Imposta il colore del testo dei titoli */
  text-align: left;
  /* Allinea il testo a sinistra */
}

/* Dimensioni specifiche per ciascun livello di titolo */
h1 {
  font-size: 28px;
  /* Imposta la dimensione del font per h1 */
}

h2 {
  font-size: 24px;
  /* Imposta la dimensione del font per h2 */
}

h3 {
  font-size: 20px;
  /* Imposta la dimensione del font per h3 */
}

h4 {
  font-size: 18px;
  /* Imposta la dimensione del font per h4 */
}

h5 {
  font-size: 16px;
  /* Imposta la dimensione del font per h5 */
}

h6 {
  font-size: 14px;
  /* Imposta la dimensione del font per h6 */
}

/* Impostazioni per i paragrafi */
p {
  text-align: justify;
  /* Giustifica il testo all'interno del paragrafo */
}

/* Stili per le liste ordinate */
ol {
  list-style-position: inside;
  /* Posiziona i numeri all'interno della lista (all'interno dei margini) */
}

/* Left-aligned images */
img.img-left {
  padding: 10px 10px 10px 0px;
  /* Add padding around the image */
  float: left;
  /* Float the image to the left */
}

/* Immagini a destra */
img.img-right {
  padding: 10px 0px 10px 10px;
  /* Add padding around the image */
  float: right;
  /* Float the image to the right */
}

/* Block quotes (blockquote) */
blockquote {
  background: #f5f7f9;
  /* Set a light grey background for the quote */
  border-bottom: 1px solid #d8dee9;
  /* Add a bottom separator line to the quote */
  padding: 10px 10px 10px 10px;
  /* Add padding on all sides */
}

/* Styles for the footer */
footer {
  background-color: #1d67b2;
  /* Set the footer background to a blue colour */
  padding: 30px 30px 30px 30px;
  /* Imposta il padding su tutti i lati del footer a 30px */
  text-align: left;
}

/* Styles for the footer section (site-info) */
#site-info {
  color: #f2f2f2;
  /* Set the text colour to light grey */
  margin: 25px 0px 0px 0px;
  /* Add space above the element */
  text-align: center;
  /* Centre the text horizontally */
}