/*
    © 2025 Salvatore D'Angelo
    Questo progetto è distribuito sotto licenza MIT.
    Vedi https://opensource.org/licenses/MIT per i dettagli.
*/

/*
 * ################################################################################
 * # Global definitions
 * ################################################################################
*/
/* Impostazioni generali per il corpo della pagina */
body {
  margin: 0 auto;
  /* Centra il contenuto orizzontalmente */
  font-family: 'Helvetica Neue';
  /* Imposta il font della pagina */
  font-size: 13px;
  /* Imposta la dimensione del font di base */
}

/* Impostazioni generali per la pagina */
#page {
  overflow: hidden;
  /* Nasconde qualsiasi contenuto che eccede i confini del contenitore */
  border: 1px;
  /* Definisce uno spessore di bordo di 1px */
  border-style: solid;
  /* Imposta il bordo come solido */
  border-color: black;
  /* Imposta il colore del bordo a nero */
}

/*
 * ################################################################################
 * # Header definitions
 * ################################################################################
 */
/* Stile per l'intestazione (header) */
header {
  background-color: #FCFCFC;
  /* Imposta lo sfondo dell'intestazione a un colore grigio chiaro */
  width: 100%;
  /* Imposta la larghezza dell'intestazione al 100% della larghezza disponibile */
  border: 1px;
  /* Definisce uno spessore di bordo di 1px */
  border-style: solid;
  /* Imposta il bordo come solido */
  border-color: black;
  /* Imposta il colore del bordo a nero */
}

#header-group {
  padding: 0px 35px;
  /* Padding di 35px sopra e sotto */
  max-width: 1080px;
  /* Impone una larghezza massima di 1080px per il contenitore dell'header */
  margin-left: auto;
  /* Allinea il contenitore dell'header al centro orizzontale */
  margin-right: auto;
  /* Allinea il contenitore dell'header al centro orizzontale */
  display: flex;
  /* Utilizza Flexbox per organizzare gli elementi all'interno del contenitore */
  flex-direction: row;
  /* Imposta l'orientamento orizzontale per gli elementi all'interno */
  justify-content: space-between;
  /* Distribuisce lo spazio in modo uniforme tra gli elementi del contenitore */
}

/*
 * Logo area
 */
/* Stile per il logo */
#logo {
  display: flex;
  /* Imposta Flexbox per il logo */
  flex-direction: row;
  /* Organizza gli elementi del logo orizzontalmente */
  justify-content: center;
  /* Centra il logo orizzontalmente */
}

/*
 * Social Button area
 */
/* Stile per il gruppo social media */
#social-media-group {
  box-sizing: border-box;
  /* Assicura che il padding non aumenti la larghezza totale del contenitore */
  padding-top: 43.75px;
  /* Aggiunge 43.75px di padding alla parte superiore */
  padding-bottom: 43.75px;
  /* Aggiunge 43.75px di padding alla parte inferiore */
  display: flex;
  /* Utilizza Flexbox per il contenitore dei social media */
  flex-direction: column;
  /* Organizza i social media in verticale */
  justify-content: left;
  /* Allinea gli elementi del gruppo social media a sinistra */
}

/* Stile per le icone social media */
.social-media-icons {
  display: flex;
  /* Utilizza Flexbox per allineare le icone dei social media */
  flex-direction: row;
  /* Allinea le icone in orizzontale */
  justify-content: center;
  /* Centra le icone orizzontalmente */
}

/* Stile per il titolo della sezione social media */
.social-media-title {
  color: #1d67b1;
  /* Imposta il colore del titolo dei social media */
  font-weight: 700;
  /* Imposta il peso del font a grassetto */
  margin-bottom: 5px;
  /* Aggiunge uno spazio di 5px sotto il titolo */
  display: flex;
  /* Utilizza Flexbox per il titolo */
  flex-direction: row;
  /* Organizza il titolo orizzontalmente */
  justify-content: left;
  /* Allinea il titolo a sinistra */
}

/* Stile per le icone del gruppo social media */
.social-media-icon {
  width: 36px;
  /* Imposta la larghezza dell'icona */
  height: 36px;
  /* Imposta l'altezza dell'icona */
  float: left;
  /* Permette di allineare l'icona a sinistra */
  margin-right: 4px;
  /* Aggiunge uno spazio di 4px a destra dell'icona */
  position: relative;
  /* Permette di posizionare l'icona rispetto al suo contenitore */
  border-radius: 3px;
  /* Arrotonda gli angoli dell'icona */
  display: block;
  /* Imposta l'icona come un blocco */
}

/* Stile per l'icona facebook del gruppo social media */
.social-media-icon-facebook {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #597ac7), color-stop(1, #6483cb));
  /* Gradiente di colore per l'icona di Facebook */
  border: 1px solid #466bc1;
  /* Imposta il bordo dell'icona di Facebook */
}

/* Stile per l'icona twitter del gruppo social media */
.social-media-icon-twitter {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5bbcec), color-stop(1, #69c2ee));
  /* Gradiente di colore per l'icona di Twitter */
  border: 1px solid #44b3e9;
  /* Imposta il bordo dell'icona di Twitter */
}

/* Stile per l'icona linkedin del gruppo social media */
.social-media-icon-linkedin {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0070b4), color-stop(1, #007ac3));
  /* Gradiente di colore per l'icona di LinkedIn */
  border: 1px solid #00609b;
  /* Imposta il bordo dell'icona di LinkedIn */
}

/* Stile per l'icona youtube del gruppo social media */
.social-media-icon-youtube {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff3635), color-stop(1, #ff4544));
  /* Gradiente di colore per l'icona di YouTube */
  border: 1px solid #ff1d1b;
  /* Imposta il bordo dell'icona di YouTube */
}

/* Stile per l'icona github del gruppo social media */
.social-media-icon-github {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #3b3b3b));
  /* Gradiente di colore per l'icona di GitHub */
  border: 1px solid #262626;
  /* Imposta il bordo dell'icona di GitHub */
}

.fa-facebook-f,
.fa-twitter,
.fa-linkedin,
.fa-youtube,
.fa-github {
  width: 1em;
  /* Imposta la larghezza dell'icona di font-awesome */
  height: 1em;
  /* Imposta l'altezza dell'icona di font-awesome */
  text-align: center;
  /* Allinea il testo al centro */
  display: block;
  /* Imposta l'icona come un blocco */
  position: absolute;
  /* Posiziona l'icona in modo assoluto all'interno del contenitore */
  line-height: 1em;
  /* Allinea verticalmente l'icona */
  color: #fff;
  /* Imposta il colore dell'icona a bianco */
  top: 50%;
  /* Posiziona l'icona al centro verticalmente */
  left: 50%;
  /* Posiziona l'icona al centro orizzontalmente */
  margin-top: -0.45em;
  /* Sposta l'icona verso l'alto */
  margin-left: -0.5em;
  /* Sposta l'icona verso sinistra */
  font-size: 18px;
  /* Imposta la dimensione del font dell'icona */
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  /* Imposta la font per le icone di FontAwesome */
  text-rendering: auto;
  /* Ottimizza la resa del testo */
  -webkit-font-smoothing: antialiased;
  /* Abilita il font-smoothing su Webkit */
}

/* Stile per il contenuto principale (main) */
main {
  max-width: 1080px;
  /* Limita la larghezza massima del contenuto a 1080px */
  margin-left: auto;
  /* Centra il contenuto orizzontalmente impostando i margini laterali automaticamente */
  margin-right: auto;
  /* Centra il contenuto orizzontalmente impostando i margini laterali automaticamente */
}

/* Stili per i titoli (h1 a h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
  /* Imposta il colore del testo dei titoli */
  text-align: left;
  /* Allinea il testo a sinistra */
}

/* Dimensioni specifiche per ciascun livello di titolo */
h1 {
  font-size: 28px;
  /* Imposta la dimensione del font per h1 */
}

h2 {
  font-size: 24px;
  /* Imposta la dimensione del font per h2 */
}

h3 {
  font-size: 20px;
  /* Imposta la dimensione del font per h3 */
}

h4 {
  font-size: 18px;
  /* Imposta la dimensione del font per h4 */
}

h5 {
  font-size: 16px;
  /* Imposta la dimensione del font per h5 */
}

h6 {
  font-size: 14px;
  /* Imposta la dimensione del font per h6 */
}

/* Impostazioni per i paragrafi */
p {
  text-align: justify;
  /* Giustifica il testo all'interno del paragrafo */
}

/* Stili per le liste ordinate */
ol {
  list-style-position: inside;
  /* Posiziona i numeri all'interno della lista (all'interno dei margini) */
}

/* Immagini a sinistra */
img.img-left {
  padding: 10px 10px 10px 0px;
  /* Aggiunge padding ai lati dell'immagine */
  float: left;
  /* Fa fluttuare l'immagine a sinistra */
}

/* Immagini a destra */
img.img-right {
  padding: 10px 0px 10px 10px;
  /* Aggiunge padding ai lati dell'immagine */
  float: right;
  /* Fa fluttuare l'immagine a destra */
}

/* Citazioni in blocco (blockquote) */
blockquote {
  background: #f5f7f9;
  /* Imposta uno sfondo grigio chiaro per la citazione */
  border-bottom: 1px solid #d8dee9;
  /* Aggiunge una linea di separazione inferiore alla citazione */
  padding: 10px 10px 10px 10px;
  /* Aggiunge padding su tutti i lati */
}

/* Stile per il piè di pagina (footer) */
footer {
  background-color: #FCFCFC;
  /* Imposta lo sfondo del piè di pagina a un colore grigio chiaro */
  padding: 30px 30px 30px 30px;
  /* Imposta il padding su tutti i lati del footer a 30px */
  text-align: left;
  /* Allinea il testo a sinistra all'interno del footer */

  border: 1px;
  /* Definisce uno spessore di bordo di 1px */
  border-style: solid;
  /* Imposta il bordo come solido */
  border-color: black;
  /* Imposta il colore del bordo a nero */
  height: 120px;
  /* Imposta l'altezza del footer a 120px */
}
